.grid-view-loading
{
	background:url(loading.gif) no-repeat;
}

.grid-view
{
	padding: 2px 0;
}
   
.grid-view table.materialize-items
{
	background: white;
	border-collapse: collapse;
	width: 100%;
	border: 1px #D0E3EF solid;
}


.grid-view table.materialize-items th, .grid-view table.materialize-items td
{
	padding: 5px 5px;
}

.grid-view table.border-right th, .grid-view table.border-right td
{
	border-right: 1px solid #b1dcfb;
}


.grid-view table.materialize-items th a.asc
{
	background:url(up.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.materialize-items th a.desc
{
	background:url(down.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.condensed td
{
	padding: 0px 0px 0px 3px ;
}

.grid-view table.responsive-table td {
   padding: 5px 5px ;
}

.grid-view table.responsive-table th {
   border-right: none;
}


.grid-view .filters select
{
	/*width: 100%;*/
	border: 1px solid #ccc;
	height: 32px;
	margin-bottom:0px;
	padding-left: 0px;

}
.grid-view .filters input{
	width: 100%;
	border: 1px solid #ccc;
	height: 30px;
	margin-bottom:0px;
	padding-left: 0px;
}
.grid-view  tr.filters td{
	padding:5px !important;
}


@media only screen and (max-width: 992px) {
 .grid-view table.responsive-table  tr.filters td  {
   display: none;
	}
 table.responsive-table.bordered td {
    min-height: 31px;
 }

}

.grid-view table.materialize-items th a:hover
{
	color: #26a69a;
}


table.picker__table th, table.picker__table td
{
	border-right: 1px solid #fff !important;
}










.grid-view table.items th, .grid-view table.items td
{
	font-size: 0.9em;
	border: 1px white solid;
	padding: 0.3em;
}


.grid-view table.items th
{
	color: white;
	background: url("bg.gif") repeat-x scroll left top white;
	text-align: center;
}

.grid-view table.items th a
{
	color: #EEE;
	font-weight: bold;
	text-decoration: none;
}

.grid-view table.items th a:hover
{
	color: #FFF;
}


.grid-view table.items tr.even
{
	background: #F8F8F8;
}

.grid-view table.items tr.odd
{
	background: #E5F1F4;
}

.grid-view table.items tr.selected
{
	background: #BCE774;
}

.grid-view table.items tr:hover.selected
{
	background: #CCFF66;
}

.grid-view table.items tbody tr:hover
{
	background: #ECFBD4;
}

.grid-view .link-column img
{
	border: 0;
}

.grid-view .button-column
{
	text-align: center;
	width: 60px;
}

.grid-view .button-column img
{
	border: 0;
}

.grid-view .checkbox-column
{
	width: 15px;
}

.grid-view .summary
{
	margin: 0 0 5px 0;
	text-align: right;
}

.grid-view .pager
{
	margin: 5px 0 0 0;
	text-align: right;
}

.grid-view .empty
{
	font-style: italic;
}
